body {
  font-family: Arial;
  background: #f4f4f4;
  padding: 40px;
}

.admin-box {
  width: 350px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
}

input, button {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
}

table {
  width: 100%;
  background: white;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}
