.auth-box {
  width: 380px;
  margin: 80px auto;
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.2);
}

.auth-box input, select, textarea, button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
}

button {
  background: black;
  color: white;
  border: none;
}

.auth-links {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.auth-links a {
  font-size: 14px;
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

.auth-links a:hover {
  text-decoration: underline;
}
