<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>

<div class="admin-layout">

  <!-- SIDEBAR -->
  <aside class="admin-sidebar">
    <h2>ADMIN</h2>
    <a href="/admin/dashboard" class="active">Dashboard</a>
    <a href="/admin/users">Users</a>
    <a href="/admin/products">Products</a>
    <a href="/logout" class="logout">Logout</a>
  </aside>

  <!-- MAIN -->
  <main class="admin-main">
    <h1>Dashboard</h1>

    <div class="stats">
      <div class="card">
        <h3>Total Users</h3>
        <p>{{ total_users }}</p>
      </div>

      <div class="card">
        <h3>Verified Users</h3>
        <p>{{ verified_users }}</p>
      </div>

      <div class="card">
        <h3>Blocked Users</h3>
        <p>{{ blocked_users }}</p>
      </div>

      <div class="card">
        Total Orders<br><strong>{{ total_orders }}</strong>
      </div>

      <div class="card">
        Total Revenue<br><strong>₹{{ total_income }}</strong>
      </div>

      <div class="card">
        Weekly Revenue<br><strong>₹{{ weekly_income }}</strong>
      </div>

      <div class="card">
        Returns<br><strong>{{ total_returns }}</strong>
      </div>
    </div>

    <div style="max-width: 900px; margin-top: 40px;">
      <canvas id="revenueChart"
      data-labels='{{ labels | tojson }}'
      data-values='{{ values | tojson }}'></canvas>
    </div>

  </main>

</div>
<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const canvas = document.getElementById("revenueChart");
  const ctx = canvas.getContext("2d");

  const labels = JSON.parse(canvas.dataset.labels);
  const values = JSON.parse(canvas.dataset.values);

  new Chart(ctx, {
    type: "line",
    data: {
      labels: labels,
      datasets: [{
        label: "Revenue (₹)",
        data: values,
        borderWidth: 3,
        tension: 0.4
      }]
    },
    options: {
      responsive: true,
      scales: {
        y: { beginAtZero: true }
      }
    }
  });
</script>


</body>
</html>
