<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
  <title>HyperFit-Strength meet Style</title>
</head>
<body>

{% include "components/navbar.html" %}

<!-- HERO -->
<section class="hero">
  <img src="{{ url_for('static', filename='images/HeroBanner.png') }}" alt="HyperFit">
  <div class="hero-content">
    <h1>Train Hard. Look Strong.</h1>
    <a href="/shop" class="btn-primary">Shop Now</a>
  </div>
</section>

<!-- SHOP BY CATEGORY -->
<section class="section">
  <h2 class="section-title">Shop by Category</h2>

  <div class="category-row">
    <button onclick="scrollToSection('sec-men')" class="cat-btn">MEN</button>
    <button onclick="scrollToSection('sec-women')" class="cat-btn">WOMEN</button>
    <button onclick="scrollToSection('sec-accessories')" class="cat-btn">ACCESSORIES</button>
  </div>
</section>

<!-- MEN -->
<section class="section">
  <section id="sec-men">
  <h2 class="section-title">Men</h2>

  {% for subcat, items in catalog["Men"].items() %}
    {% if items %}
    <div id="men-{{ subcat|lower|replace(' ', '-') }}" class="sub-section">
      <h3 class="sub-title">MEN | {{ subcat }}</h3>

      <div class="product-scroll">
        {% for product in items %}
          <a href="{{ url_for('product_detail', product_id=product.id) }}" class="product-card">
            <img src="{{ url_for('static', filename='images/' ~ product.image_filename) }}">
            <p class="product-name">{{ product.name }}</p>

            {% if product.discounted_price %}
              <p class="price">
                <span class="old">₹{{ product.price }}</span>
                <span class="new">₹{{ product.discounted_price }}</span>
              </p>
            {% else %}
              <p class="price">₹{{ product.price }}</p>
            {% endif %}
          </a>
        {% endfor %}
      </div>
    </div>
    {% endif %}
  {% endfor %}
</section>

<!-- WOMEN -->
  <section id="sec-women">
    <h2 class="section-title">Women</h2>

    {% for subcat, items in catalog["Women"].items() %}
      {% if items %}
      <div id="women-{{ subcat|lower|replace(' ', '-') }}" class="sub-section">
        <h3 class="sub-title">WOMEN | {{ subcat }}</h3>

        <div class="product-scroll">
          {% for product in items %}
            <a href="{{ url_for('product_detail', product_id=product.id) }}" class="product-card">
              <img src="{{ url_for('static', filename='images/' ~ product.image_filename) }}">
              <p class="product-name">{{ product.name }}</p>

              {% if product.discounted_price %}
                <p class="price">
                  <span class="old">₹{{ product.price }}</span>
                  <span class="new">₹{{ product.discounted_price }}</span>
                </p>
              {% else %}
                <p class="price">₹{{ product.price }}</p>
              {% endif %}
            </a>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </section>

<!-- ACCESSORIES -->
    <section id="sec-accessories">
    <h2 class="section-title">Accessories</h2>

    {% if catalog["Accessories"] %}
    <div class="product-scroll">
      {% for product in catalog["Accessories"] %}
        <a href="{{ url_for('product_detail', product_id=product.id) }}"
          class="product-card">

          <img src="{{ url_for('static',
            filename='images/' ~ product.image_filename) }}"
            alt="{{ product.name }}">

          <p class="product-name">{{ product.name }}</p>

          {% if product.discounted_price %}
            <p class="price">
              <span class="old">₹{{ product.price }}</span>
              <span class="new">₹{{ product.discounted_price }}</span>
            </p>
          {% else %}
            <p class="price">₹{{ product.price }}</p>
          {% endif %}

        </a>
      {% endfor %}
    </div>
    {% else %}
      <p class="empty-text">No accessories available</p>
    {% endif %}
  </section>
</section>

<!-- WHY HYPERFIT -->
<section class="why">
  <h2>Why HyperFit?</h2>
  <p>
    Compression-driven designs. Sweat-proof fabrics. Built for lifters, runners,
    fighters & everyday athletes.
  </p>
</section>

<!-- SEARCH OVERLAY -->
<div id="searchOverlay" class="search-overlay">

  <div class="search-box">
    <span class="close-search" onclick="closeSearch()">✖</span>

    <form action="/search" method="GET">
      <input 
        type="text" 
        name="q" 
        placeholder="What are you looking for?....🔍"
        autofocus
        required
      >
      <button type="submit">Search</button>
    </form>
  </div>

</div>


  <!-- FOOTER -->
{% include "components/footer.html" %}

  <!-- JAVASCRIPT -->
  <!-- <script src="{{ url_for('static', filename='js/category.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
  
