<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
  <title>Order Successful</title>
</head>
<body>
{% include "components/navbar.html" %}

  <section class="success-container">
    <div class="success-box">
      <h2>🎉 Order Placed Successfully</h2>

      <p><strong>Order ID:</strong> {{ order.id }}</p>
      <p><strong>Payment Mode:</strong> {{ order.payment_method }}</p>
      <p><strong>Total Paid:</strong> ₹{{ order.total_amount }}</p>

      <a href="/" class="btn-primary">Continue Shopping</a>
    </div>
  </section>

{% include "components/footer.html" %}
</body>
</html>
